{% extends 'base.html' %}

	{% block content %} 
    <section class="ftco-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex">
    				<div class="img img-about align-self-stretch" style="background-image: url('../static/images/bg_3.jpg'); width: 100%;"></div>
    			</div>
    			<div class="col-md-6 pl-md-5">
    				<h2 class="mb-4">Witamy na stronie Salonu Urody Izada</h2>
    				<p>Opis</p>
    				<p>Opis</p>
    			</div>
    		</div>
    	</div>
    </section>
	
    {% endblock content %}

