{% extends 'base.html'%}
  {% block content %}
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div>
            <h2 class="mb-4">Ostatnio na Blogu</h2>
            <p>Sprawdź co nowego dziś dla ciebie przygotowaliśmy.</p>
          </div>
        </div>
        <div class="row d-flex">
          {% for blog in blogs %}
          
            <div class="col-md-4 d-flex">
              <div class="blog-entry align-self-stretch">
                <a href="{% url 'blog_single' pk=blog.pk %}"><img src="{{ blog.image.url }}" alt="{{ blog.topic }}" style="width: 243.42px; height:270px"></a>
              <div class="text py-4 d-block">
                <div class="meta">
                <div>{{ blog.my_date }}</div>
                  <div>{{ blog.author }}</div>
              </div>
                  <div class="blog-icon">
                      <h3 class="heading mt-2">{{ blog.topic }}</h3>
                      <p>{{ blog.first_sentence }}</p>
                  </div>
                </div>
              </div>
            </div>
          
            {% endfor %}
        </div>
      </div>
    </section>
  {% endblock content %}