{% extends 'base.html'%}
  {% block content %}
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div>
            <h2 class="mb-4">Ostatnio na Blogu</h2>
            <p>Sprawdź co nowego dziś dla ciebie przygotowaliśmy.</p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 d-flex">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('../static/images/image_1.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">1 Luty, 2023</a></div>
                  <div><a href="#">Monika Szczecińska</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Temat Wpisu</a></h3>
                <p>Opis</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('../static/images/image_2.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">1 Luty, 2023</a></div>
                  <div><a href="#">Monika Szczecińska</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Temat Wpisu</a></h3>
                <p>Opis</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('../static/images/image_3.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">1 Luty, 2023</a></div>
                  <div><a href="#">Monika Szczecińska</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Temat Wpisu</a></h3>
                <p>Opis</p>
              </div>
            </div>
          </div>
        <!--TODO: wszystkei zdjecia tej samej wielkosci-->  
        {% for blog in blogs %}
          <div class="col-md-4 d-flex">
          	<div class="blog-entry align-self-stretch">
               <img src="{{ blog.image.url }}" alt="{{ blog.topic }}" style="width: 243.42px; height:270px">
            <div class="text py-4 d-block">
              <div class="meta">
              <div><a href="#">{{ blog.my_date }}</a></div>
                <div><a href="#">{{ blog.author }}</a></div>
            </div>
                <div class="blog-icon">
                    <h3 class="heading mt-2">{{ blog.topic }}</h3>
                    <p>{{ blog.first_sentence }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </section>
  {% endblock content %}