{% extends 'base.html'%}
  {% block content %}
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div>
            <h2 class="mb-4">Ostatnio na Blogu</h2>
            <p>Sprawdź co nowego dziś dla ciebie przygotowaliśmy.</p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 d-flex">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('../static/images/image_1.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">1 Luty, 2023</a></div>
                  <div><a href="#">Monika Szczecińska</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Temat Wpisu</a></h3>
                <p>Opis</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('../static/images/image_2.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">1 Luty, 2023</a></div>
                  <div><a href="#">Monika Szczecińska</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Temat Wpisu</a></h3>
                <p>Opis</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('../static/images/image_3.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">1 Luty, 2023</a></div>
                  <div><a href="#">Monika Szczecińska</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Temat Wpisu</a></h3>
                <p>Opis</p>
              </div>
            </div>
          </div>
          
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock content %}