{% extends 'base.html' %}
{% block content %} 
{% load static %}
   <section class="ftco-section">
    	<div class="container">
    		<div class="row">
          <div class="col-md-4">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex mb-3"><span class="flaticon-facial-treatment"></span></div>
              <div class="media-body">
                <h3 class="heading">Pielęgnacja Skóry Twarzy i Ciała</h3>
                <p>Bądź swoim własnym wyznacznikiem piękna i bądź dumna z tego co widzisz w lustrze każdego dnia.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex mb-3"><span class="flaticon-cosmetics"></span></div>
              <div class="media-body">
                <h3 class="heading">Makijaż</h3>
                <p>Każda z nas potrzebuje okazjonalnych zmian.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 ">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex mb-3"><span class="flaticon-curl"></span></div>
              <div class="media-body">
                <h3 class="heading">Manicure/ Pedicure</h3>
                <p> Mała zmiana, a paznokcie nie do poznania</p>
              </div>
            </div>    
          </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section bg-light">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center">
            <h2 class="mb-4">Nasza Specjalistka</h2>
            <p>Wszelkie zabiegi kosmetologiczne są wykonywane przez założycielkę salonu Imie Nazwisko</p>
          </div>
        </div>
        <div class="row">
        	<div class="col-lg-3 d-flex mb-sm-4">
        		<div class="staff">
      				<div class="img mb-4" style="background-image: url(../static/images/M.jpg);"></div>
      				<div class="info text-center">
      					<h3> Imie Nazwisko</h3>
      					<span class="position">Kosmetolog</span>
      					<div class="text">
	        				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
	        			</div>
      				</div>
        		</div>
        	</div>
    </section>

		<section class="ftco-section ftco-discount img" style="background-image: url(../static/images/bg_2.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-md-5 discount">
						<h3>Zaoszczędź do 10%</h3>
						<h2 class="mb-4">Zniżka Studencka</h2>
						<p class="mb-4">Zniżką studenckim podlegają zabiegi:... O szczegóły dopytaj w salonie, bądź skontaktuj się pod numerem podanym na stronie</p>
						
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center">
            <h2 class="mb-4">Nasze Prace</h2>
            <p>Zapraszamy do zapoznania się do oferty zabiegów dostępnych w salonie</p>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-4">
        		<a href="#" class="work-entry">
        			<img src="{% static 'images/paznokcie1.jpg' %}" class="img-fluid" alt="Colorlib Template">
        			<div class="info d-flex align-items-center">
        				<div>
        					<div class="icon mb-4 d-flex align-items-center justify-content-center">
        						<span class="icon-search"></span>
        					</div>
		        			<h3>Zabiegi na twarz i cialo</h3>
	        			</div>
        			</div>
        		</a>
        	</div>
        	<div class="col-md-4">
        			<img src="{% static 'images/paznokcie2.jpg' %}" class="img-fluid" alt="Colorlib Template">
        	</div>
        	<div class="col-md-4">
        			<img src="{% static 'images/paznokcie3.jpg' %}" class="img-fluid" alt="Colorlib Template">
        	</div>
        </div>
    	</div>
    </section>

    <section class="ftco-partner bg-light">
    	<div class="container">
    		<div class="row partner justify-content-center">
    			<div class="col-md-10">
    				<div class="row">
		        	<div class="col-md-3">
		        		<a href="#" class="partner-entry">
		        			<img src="static/images/partner-1.jpg" class="img-fluid" alt="Colorlib template">
		        		</a>
		        	</div>
		        	<div class="col-md-3">
		        		<a href="#" class="partner-entry">
		        			<img src="static/images/partner-2.jpg" class="img-fluid" alt="Colorlib template">
		        		</a>
		        	</div>
		        	<div class="col-md-3">
		        		<a href="#" class="partner-entry">
		        			<img src="static/images/partner-3.jpg" class="img-fluid" alt="Colorlib template">
		        		</a>
		        	</div>
		        	<div class="col-md-3">
		        		<a href="#" class="partner-entry">
		        			<img src="static/images/partner-4.jpg" class="img-fluid" alt="Colorlib template">
		        		</a>
		        	</div>
	        	</div>
	        </div>
        </div>
    	</div>
    </section>

		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center">
            <h2 class="mb-4">Oferty Specjalne</h2>
            <p>Ceny podane poniżej są cenami promocyjnymi, dostępnymi jedynie przy ofertach specjalnych.</p>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-3">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Podstawowy</h3>
	        			<p><span class="price">200 zł</span> <span class="per">/ za osobę</span></p>
	        		</div>
        			<ul>
        				<li> Obcinanie paznokci &amp; Stylizacja</li>
								<li>Zabieg nawilżający na skórę rąk</li>
								<li>Zabieg odżywiający płytkę paznokciową</li>
								<li>Zabieg nawilżający na stopy</li>
								<li>Pedicure</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Umów teraz</a></p>
        		</div>
        	</div>
        	<div class="col-md-3">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Standard</h3>
	        			<p><span class="price">250 zł</span> <span class="per">/ za osobę</span></p>
	        		</div>
        			<ul>
        				<li> Obcinanie paznokci &amp; Stylizacja</li>
								<li>Zabieg nawilżający na skórę rąk</li>
								<li>Zabieg odżywiający płytkę paznokciową</li>
								<li>Zabieg nawilżający na stopy</li>
								<li>Pedicure</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Umów teraz</a></p>
        		</div>
        	</div>
        	<div class="col-md-3">
        		<div class="pricing-entry active pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Premium</h3>
	        			<p><span class="price">300 zł</span> <span class="per">/ za osobę</span></p>
	        		</div>
        			<ul>
        				<li> Obcinanie paznokci &amp; Stylizacja</li>
								<li>Zabieg nawilżający na skórę rąk</li>
								<li>Zabieg odżywiający płytkę paznokciową</li>
								<li>Zabieg nawilżający na stopy</li>
								<li>Pedicure</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Umów teraz</a></p>
        		</div>
        	</div>
        	<div class="col-md-3">
        		<div class="pricing-entry pb-5 text-center">
        			<div>
	        			<h3 class="mb-4">Platinum</h3>
	        			<p><span class="price">350 zł </span> <span class="per">/ za osobę</span></p>
	        		</div>
        			<ul>
        				<li> Obcinanie paznokci &amp; Stylizacja</li>
								<li>Zabieg nawilżający na skórę rąk</li>
								<li>Zabieg odżywiający płytkę paznokciową</li>
								<li>Zabieg nawilżający na stopy</li>
								<li>Pedicure</li>
        			</ul>
        			<p class="button text-center"><a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Umów teraz</a></p>
        		</div>
        	</div>
        </div>
			</div>
		</section>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center">
            <h2 class="mb-4">Ostatnio dodane na Blogu</h2>
            <p>Sprawdź co  nowego przygotowaliśmy dla ciebie na blogu. Najważniejsza jest świadomość i wiedza odnośnie tego jakie kroki podejmujemy w drodze do osiągniecia zamierzonych efektów i jakie mają one wpływ na nasze zdrowie.</p>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-4 d-flex">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('../static/images/image_1.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">1 Luty, 2023</a></div>
                  <div><a href="#">Monika Szczecińska</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Mikrodermabrazja, a jej działanie</a></h3>
                <p>Wpis </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('../static/images/image_2.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">1 Luty, 2023</a></div>
                  <div><a href="#">Monika Szczecińska</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Jak dbać o skórę twarzy jako nastolatka/ nastolatek</a></h3>
                <p>Wpis</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex">
          	<div class="blog-entry align-self-stretch">
              <a href="blog-single.html" class="block-20" style="background-image: url('../static/images/image_3.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="#">1 Luty, 2023</a></div>
                  <div><a href="#">Monika Szczecińska</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">RF</a></h3>
                <p>Wpis</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	{% endblock content %}
