{% extends 'base.html' %}
{% block content %} 
{% load static %}
		<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center">
            <h2 class="mb-4">Nasze Prace</h2>
            <p class="work-category">
            	<span class="px-2">Makijaż</span> 
            	<span class="px-2">Zabiegi na twarz</span>
            	<span class="px-2">Zabiegi na ciało</span>
            	<span class="px-2">Manicure/Pedicure</span>
            </p>
          </div>
        </div>
        <div class="row">
        	
			<style>
				.image-container {
					display: flex;
					flex-wrap: wrap;
					gap: 20px; 
					max-width: 1140px;
				}
				
				.image-container img {
					width: 560px; 
					height: 500px;
					object-fit: cover; 
				}
			</style>
			<div>
				<div class="image-container">
					{% for picture in pictures %}
        			<img src="{{ picture.image.url }}" class="img-fluid" alt="WorkPictures">
					{% endfor %}	
				</div>
        	</div>


        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
    	</div>
    </section>
{% endblock content %}